body {
    background-color: #f6f3e7;
}

.quizContainer {
    width: 1000px;
    /* height: 500px; */
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.progressBar {
    width: 500px;
    height: 15px;
    margin: auto;
    border-radius: 25px;
    margin-top: 25px;
    background-color: #e2dfd5;
}

.progress {
    width: 75%;
    height: 15px;
    border-radius: 15px;
    background-color: #c7d756;
}

button {
    background-color: #f5c360;
    border-radius: 25px;
    padding: 6px;
}

label {
    padding-left: 16px;
}

h2 {
    margin-top: 50px;
    color: #a1af38;
}

h3 {
    font-size: 25px;
}

.resultTitle {
    color: #f5c360;
    text-shadow: 1px 1px 1px #5d5d5d;   
}

/* .sliderInput {
    width: 100%;
} */